[submodule "webgl-shader-loader"]
	path = webgl-shader-loader
	url = https://github.com/nickdesaulniers/webgl-shader-loader.git
[submodule "gl-matrix"]
	path = gl-matrix
	url = https://github.com/toji/gl-matrix.git
